[Unit]
Description=bShuffle music server
PartOf=graphical-session.target
After=graphical-session.target

[Service]
ExecStart=/usr/bin/env bshuffle
ExecReload=/bin/sh -c '/bin/kill -HUP $MAINPID; killall mplayer'
ExecStop=/bin/sh -c '/bin/kill -HUP $MAINPID; killall mplayer'
KillMode=process
Restart=always

[Install]
WantedBy=graphical-session.target
